{% extends 'posts/base.html' %}

{% block content %}

<script type="text/javascript">
        ymaps.ready(init);

        function init () {
            var myMap = new ymaps.Map("map", {
                    center: [55.81, 37.953], // Балашиха
                    zoom: 13,
                    behaviors: ['default', 'scrollZoom']

                }),
                myCollection = new ymaps.GeoObjectCollection();

                var trafficControl = new ymaps.control.TrafficControl({shown: true});

                myMap.controls
                // Кнопка изменения масштаба
                .add('zoomControl')
                // Список типов карты
                .add('typeSelector')
                // Кнопка изменения масштаба - компактный вариант
                // Расположим её справа
                // Стандартный набор кнопок
                .add('mapTools')
                .add('scaleLine')
                .add('routeEditor')
                .add(trafficControl, {top: 5, right: 85})

            $('#search_form').submit(function () {
                var search_query = $('input:first').val();

                ymaps.geocode(search_query, {results: 100}).then(function (res) 
                {
                    myCollection.removeAll();
                    myCollection = res.geoObjects;
                    myMap.geoObjects.add(myCollection);
                });
                return false;
            });
        }
    </script>


<div id="map" style="width: 100%; height: 500px"></div>

<h2>Поисковая строка</h2>

<form id="search_form">
    <input type="text" value="Балашиха, МФЦ" style="width: 420px;"/>
    <input type="submit" value="Найти"/>
</form>

{% endblock %}

