{% block header_include %}
{% endblock %}

<div class="container">
    <div id="head-wrapper">
        <div id="head-center"  class="head"></div>

        <div id="head-left" class="head">
            <div id="today" class="head-widget">
                {{ datetime }}
                <br>
                Курсы валют:
                <br>
                (usd) {{ quote.usd }}
                <br>
                (eur) {{ quote.eur }}
                <br>
                <a href="/traffic">{{ traffic.level }} {{ traffic.color }}</a>
            </div>
            <div id="weather" class="head-widget">
                Погода в Балашихе:
                <br>
                {% for fc in forecasts %}

                    {{ fc.daytime }}: {{ fc.temperature }}, {{ fc.phenomena }} <br>

                {% endfor %}

            </div>
        </div>


        <div id="head-right" class="head">


            <!--    сколько человек, ролей, вход-->

        </div>

    </div>
    <div id="menu">
        <ul>
            <!--    <li><a href="/">Главная</a></li>-->
            <!--        <li><a href="/events/">События</a></li>-->
            <!--            <li><a href="/catalog/">Справочник</a></li>-->
            <!--    <li><a href="/forum/">Форум</a></li>-->
        </ul>
    </div>


    {% block content %}
    {% endblock %}

</div>

{% include 'footer.html' %}