<style>
.small_1349120312 {
	FONT-SIZE:9px; FONT-FAMILY: arial
}
.norm_1349120312{
	FONT-SIZE:10px; FONT-FAMILY: arial
}
.txt_1349120312{
	FONT-SIZE:11px; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight: bold
}
</style>

<table border='0' cellspacing='0' cellpadding='3' style='border-color: #000000; border-width: 1px; border-style: none;BACKGROUND-COLOR: #FFFFFF;color:#000000;'>
	<tr align='center'>
		<td valign='top' colspan='2' align='left'>
			<a href='http://time-clock.biz/kursy/rub' id='interchange_link_1349120312'><span class='small_1349120312' >(RUS)</span></a>
		</td>
		<td><img src='http://time-clock.biz/img/RUB.gif' width='20' height='14' border='0' alt='Российский рубль валюта России' style='cursor:none;'><tr align='center' title=''><td><img src='http://time-clock.biz/img/EUR.gif' width='20' height='14' border='0' alt=''></td><td class='norm_1349120312'>(EUR)</td><td class='txt_1349120312'><b id='insert_rate_EUR_1349120312'>//-//</b></td></tr><tr align='center' title=''><td><img src='http://time-clock.biz/img/USD.gif' width='20' height='14' border='0' alt=''></td><td class='norm_1349120312'>(USD)</td><td class='txt_1349120312'><b id='insert_rate_USD_1349120312'>//-//</b></td></tr></td>
	</tr>
	<tr align='center'>
		<td colspan='3'>
			<span id='rate_echo_kurs_insert_html_1349120312'></span>
			<script language='JavaScript' src='http://fast.time-clock.biz/script.php?go=get_informer&id=140954'>
</script>
		</td>
	</tr>
</table>
