{% extends "admin/change_form.html" %}

{% block extrahead %}

    <script type="text/javascript" src="/media/redactor/js/redactor.js"></script>
    <link rel="stylesheet" href="/media/redactor/js/css/redactor.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(
                function()
                {
                    $('#redactor_content').redactor();
                }
        );
    </script>

    <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>


{% endblock %}

{% block form_top %}
    <script type="text/javascript">
        ymaps.ready(init);

        function init () {
            var myMap = new ymaps.Map("map", {
                center: [55.81, 37.953], // Балашиха
                zoom: 13,
                behaviors: ['default', 'scrollZoom']

            });
        }
    </script>
    <div id="map" style="width: 400px; height: 400px;></div>
    <textarea id="redactor_content" name="redactor_content" style="width: 500px; height: 320px;">

{% endblock %}